dist-newstyle

*.aux
*.hp
*.pdf
*.ps
*.eventlog
*.eventlog.html

.env

/data
*~
~*
/result
/.direnv

_cache
_site
target

.pre-commit-config.yaml

/tmp
*.journal
tmp

run.sh

cabal.project.local
cabal.project.local~